.carousel-container {
  position: relative;
  width: var(--img-width);
  height: var(--img-height);
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.slide img {
  width: var(--img-width);
  display: block;
  border-radius: 8px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;

  &.prev {
    left: 10px;
  }

  &.next {
    right: 10px;
  }
}

.dots-container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
    background-color: #717171;
  }
}
