.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
  align-items: flex-start;
  width: 20rem;
  font-size: 20px;
}

button {
  border: none;
  font-weight: bold;
  font-size: 22px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(129, 61, 230, 0.5);
}

button:hover {
  cursor: pointer;
}
