.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: end;
  border: black solid 1px;

  button {
    background: none;
    border: none;
    font-size: 18px;
  }
}
