.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .page-navigate {
    place-content: start;
  }

  .site-navigate {
    place-content: end;
  }
  button {
    background: none;
    border: none;
    font-size: 18px;
  }

  button:hover {
    cursor: pointer;
  }
}
