@if (totalPages() > 1) {
  <div class="paginator-container">
    <button
      class="arrow"
      (click)="pagePrev()"
      [disabled]="currentPageIdx() === 0">
      &laquo;
    </button>

    @for (page of pages(); track page) {
      <button
        [class.active]="page === currentPage()"
        (click)="selectPage(page  - 1)">
        {{ page }}
      </button>
    }
    <button
      class="arrow"
      (click)="pageNext()"
      [disabled]="currentPageIdx() === totalPages() - 1">
      &raquo;
    </button>
  </div>
}

