<app-header></app-header>
<div class="page">
  <div class="product-list">
    @for (product of products(); track product.id) {
      <product [product]="product"></product>
    } @empty {
      Загрузка...
    }
  </div>
  <div class="category">
    <aside class="category">
      <categories (categoryChange)="onCategoryChange($event)"></categories>
    </aside>
  </div>
</div>
<app-paginator (pageChange)="onPageChanged($event)"
               [currentPageIdx]="currentPageIdx()"
               [pageSize]="products()?.length?? 10"
               [totalItems]="totalAmount()?.length ?? 0"></app-paginator>
