<app-header></app-header>
@for (product of products(); track product) {
  <div class="cart">
    <div class="cart-item">
      <img [src]="product.product.images[0]" alt="product image">
    </div>
    <span>{{ product.product.title }}</span>
    <span>{{ product.product.price | currency}}</span>
    <div class="item-manipulation">
      <button (click)="decrementItemFromCart(product.product)">-</button>
      <span>{{ product.count }}</span>
      <button (click)="addItemToCart(product.product)">+</button>
    </div>
    <button (click)="removeItemFromCart(product.product)">Remove Item</button>
  </div>

}

