.product {
  box-sizing: border-box;
  height: 300px;
  width: 200px;
  background: rgba(129, 61, 230, 0.2);
  border-radius: 10px;

  &_description {
    padding: 2px;
    display: flex;
    flex-direction: column;
  }
  a {
    color: black;
  }
  a:visited {
    color: rgba(129, 61, 230);
  }

  &_picture {
    --img-height: 200px;
    --img-width: 200px;
  }
}
