<select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
  <option value="en">English</option>
  <option value="it">Italian</option>
</select>

<mat-form-field>
  <mat-label>Страна</mat-label>

  <input
    type="text"
    matInput
    [formControl]="countryControl"
    [matAutocomplete]="auto"
    placeholder="Начните поиск..."
    (input)="onInput($event)"
  />

  <mat-autocomplete class="selection" #auto="matAutocomplete">
    @for (country of filteredCountries(); track country.code) {
      <mat-option class="country" [value]="country.nameKey | translate">
        {{ country.nameKey | translate}}
      </mat-option>
    }
  </mat-autocomplete>

</mat-form-field>
