.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    border-radius: 10px;
    height: 20px;
    margin: 10px;
    padding: 5px;
    width: 300px;
  }

  button {
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
    margin: 10px;
    color: white;
    background: linear-gradient(to right, #001c98, #85008c);
  }
  a {
    color: #001c98;
    text-decoration: none;
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .button-container {
    display: flex;
    place-content: center;
  }
}
